<nav id="mainNavbar" class="navbar navbar-light navbar-expand-md py-0 fixed-top">
    <a href="/" id="brand" class="navbar-brand">ftf</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navLinks" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/signin" class="nav-link">Login | Join</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/ftprofile" class="nav-link">ft Profile</a>
        </li>
        <li class="nav-item">
            <a href="/customer_profile" class="nav-link">Customer Profile</a>
          </li>
      </ul>
    </div>
  </nav>